# Ignore Parcel's cache directory
.cache/

# Ignore node_modules directory
node_modules/

# Ignore Parcel build output
dist/

# Ignore log files and other build artifacts
*.log
*.tmp
*.pid
*.out

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore sensitive or environment-specific information
.env
.env.local

# Ignore any other unnecessary or big files
# filename.ext
