/* .cart-item-number {
  position: relative;
  margin-left: 50px;
  display: inline-flex;
  align-items: center;
}

.count {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #bd1717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}*/

.cart-item-number {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  margin-right: 5px;
  border-radius: 5px;
}

.cart-item-number:hover {
  border: 2px solid #dfdfdf;
}
