.headerElement {
  height: 80px;
  display: flex;
  overflow: hidden;
  background-color: rgb(227, 52, 66);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerElement > ul {
  color: white;
  display: flex;
  list-style-type: none;
  margin-left: auto;
  padding-right: 20px;
  gap: 10px;
}

.list-items {
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
  align-self: center;
  font-size: large;
  text-decoration: none;
  color: white;
  /* transition: transform 0.9s ease; */
}

.list-items:hover {
  /* transform: scale(1.1); */
  color: #dfdfdf;
}
.logo {
  overflow: hidden;
  margin-top: -25px;
  margin-bottom: -25px;
}

.logo img {
  height: 100%;
}

.cart-container {
  display: flex;
}

.list-text {
  display: flex;
  gap: 5px;
}
