.order-summary {
  display: inline-block;
  padding: 20px;
  width: 100%;
}

.heading {
  padding: 20px;
  border-bottom: 2px solid rgb(222, 222, 222);
  font-size: small;
}
.heading > h1 {
  font-size: x-large;
}

.price,
.discount,
.delivery-charges,
.total-payable-amount {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total-payable-amount > p {
  font-size: x-large;
  font-weight: bold;
}
#amt {
  color: rgb(209, 94, 0);
}
.delivery-charges > p,
.price > p,
.discount > p {
  font-size: large;
}

.you-will-be-saving {
  padding: 10px;
  color: rgb(111, 111, 111);
}
.total-payable-amount {
  border-top: 2px solid rgb(222, 222, 222);
  border-bottom: 2px solid rgb(222, 222, 222);
}

.button {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-place-order {
  padding: 15px;
  width: 100%;
  background-color: rgb(227, 52, 66);
  border: none;
  color: white;
  border-radius: 5px;
}

.button-place-order > h1 {
  font-size: large;
  font-weight: 500;
}
