.menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu-heading {
  margin-top: 20px;
  padding: 10px;
  background-color: bisque;
  border-radius: 5px;
}

.menu-items {
  margin-top: 20px;
  padding: 10px;
  list-style-type: none;
  font-weight: 400;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
}

.make-content-center {
  display: flex;
  justify-content: center;
}
.card-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.restaurant-details-top-left {
  font-size: small;
  color: gray;
  font-weight: 400;
}
